bitcoinlib==0.7.2
certifi==2025.1.31
charset-normalizer==3.4.1
cytoolz==1.0.1
eth-hash==0.7.1
eth-typing==5.1.0
eth-utils==5.2.0
fastecdsa==3.0.1
idna==3.10
numpy==2.2.2
pycryptodome==3.21.0
requests==2.32.3
SQLAlchemy==2.0.38
toolz==1.0.0
typing_extensions==4.12.2
urllib3==2.3.0
